.button {
    background: map-get($base, 'button-bg');
    color:  map-get($font-colors , 'white');
    border-bottom: 2px solid map-get($base, 'button-border');
    font-family: map-get($fonts , 'base-font');
    font-weight: 700;
}