.header-top {
    padding: 0.93rem 0;
    background: map-get($header-top, 'section-bg');
    border-bottom: 1px solid map-get($header-top, 'section-border');

    a,
    i {
        font-family: map-get($header-top, 'section-font');
        font-size: map-get($header-top, 'section-font-size');
    }

    .social {
        i {
            margin: 0 0.5rem;
        }

        @include media ("<=tablet") {
            display: none;
        }
    }

    .contact {
        a {
            margin: 0 1.75rem 0 0.625rem;

            @include media ("<=tablet") {
                font-size: 15px;
            }

            &.mobile {
                margin-right: 0;
            }
        }

    }
}


.header-nav {
    padding: 2.25rem 0;

    @include media ("<=desktop") {
        padding: 1.2rem 0;
    }

    .navbar {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        padding-bottom: 0;
        align-items: center;
        font-family: map-get($header-nav, 'section-font');
        font-size: map-get($header-nav, 'section-font-size');
        color: map-get($header-nav, 'section-font-color');

        .logo {
            flex-shrink: 0;
            max-width: 162px;

            @include media ("<=desktop") {
                max-width: 142px;
            }

            @include media ("<=tablet") {
                max-width: 122px;
            }
        }

        .main-nav {
            display: flex;
            width: 100%;
            padding: 0 91px;
            flex-direction: row;
            justify-content: space-around;
            z-index: 2;

            @include media ("<=widescreen") {
                padding: 0 30px;
            }

            @include media ("<=desktop") {
                flex-direction: column;
                position: absolute;
                left: -100vw;
                top: 42px;
                width: 100vw;
                height: 500px;
                margin-left: -15px;
                padding: 50px 0;
                text-align: center;
                opacity: 0;
                transition: 0.5s linear;
            }

            @include media ("<=tablet") {
                top: 37px;
                padding-top: 70px;
                padding-bottom: 10px;
            }


            &.active-menu {
                opacity: 1;
                background: rgba(map-get($header-nav, 'menu-mob-color'), 0.95);
                left: 0;
                right: 0;
            }

            li {
                position: relative;
                font-size: map-get($header-nav, 'section-font-size');

                @include media ("<=widescreen") {
                    font-size: 14px;
                }

                @include media ("<=desktop") {
                    margin: 0;
                    padding: 15px 0;
                    font-size: 16px;
                }


                a {
                    font-weight: 700;
                    text-transform: uppercase;

                    @include media ("<=desktop") {
                        color: map-get($font-colors, 'white');
                    }
                }

                .nav-item-field {
                    @include media("<=desktop") {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }
                }

                &.is-selected {
                    >a {
                        color: map-get($header-nav, 'section-font-color-selected');

                        @include media("<=desktop") {
                            color: map-get($font-colors, 'white');
                        }
                    }

                    @include media("<=desktop") {
                        background: map-get($header-nav, 'menu-selected');
                    }
                }
            }

            .social {
                display: none;

                @include media ("<=tablet") {
                    display: block;
                }

                i {
                    @include media ("<=tablet") {
                        margin: 0 1rem;
                    }
                }
            }
        }
    }

    .aside-section {
        display: flex;

        @include media ("<=tablet") {
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .hamburger {
            display: none;
            padding: 0;
            margin-left: 10px;

            @include media ("<=desktop") {
                display: inline-block;
            }

            &-inner,
            &-inner::before,
            &-inner::after {
                background-color: map-get($header-nav, 'section-font-color');
            }
        }

        .search {
            display: flex;
            z-index: 3;

            @include media ("<=tablet") {
                position: absolute;
                top: 80px;
                max-width: 800px;
                width: 100%;
            }

            .searchBtn {
                padding: 0 0 0 5px;

                .icon-search {
                    color: map-get($header-nav, 'section-font-color');

                    @include media ("<=desktop") {
                        font-size: 30px;
                        vertical-align: middle;
                        line-height: 10px;
                    }

                    @include media ("<=tablet") {
                        color: map-get($font-colors, 'white');
                    }
                }
            }

            .search-input {
                opacity: 0;
                height: 10px;
                border-radius: 200px;
                flex-grow: 1;
                color: map-get($header-nav, 'section-font-color');

                &.is-visible {
                    opacity: 0.6;
                }
            }
        }
    }
}