.info {
    padding: 7.5rem 0;
    text-align: center;

    @include media ("<desktop") {
        padding: 5rem 0;
    }

    @include media ("<tablet") {
        padding: 3rem 0;
    }

    .flex-wrap {
        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    .text-wrap {
        max-width: 850px;
        padding: 0 15px;
        margin: 0 auto;
        font-size: map-get($info, 'section-font-size');
        line-height: 2.125rem;
        letter-spacing: 0.01em;

        @include media ("<tablet") {
            font-size: 1.2rem;
            line-height: 1.5rem;
        }

        h2 {
            font-size: map-get($headings, 'h2-font-size');
            line-height: 3.375rem;
            letter-spacing: 0.01em;
            margin-bottom: 1.8rem;

            @include media ("<tablet") {
                font-size: 2.4rem;
            }

            @include media ("<phone") {
                font-size: 1.7rem;
                margin-bottom: 1rem;
            }
        }

        p {
            margin-bottom: 4.1rem;

            @include media ("<tablet") {
                margin-bottom: 2.5rem;
            }
        }
    }

    .col {
        display: flex;
        width: 32%;
        text-align: left;
        font-size: 16px;
        line-height: 1.562rem;
        letter-spacing: 0.01em;

        @include media ("<tablet") {
            width: 100%;
        }

        &-left {
            width: 65px;

            @include media ("<tablet") {
                font-size: 50px;
            }

            @include media ("<phone") {
                font-size: 40px;
            }

            img {
                margin-top: 5px;
            }
        }

        &-right {
            width: 100%;
            padding-left: 30px;
        }

        h3 {
            font-size: map-get($headings, 'h3-font-size');
            line-height: 2.125rem;
            letter-spacing: 0.02em;
            margin-bottom: 1.68rem;

            @include media ("<phone") {
                font-size: 1.5rem;
                margin-bottom: 0.8rem;
            }
        }

        p {
            margin-bottom: 20px;
        }
    }
}