%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

//buttons
.button {
  background: map-get($base, 'button-bg');
  color: map-get($font-colors, 'white');
  border-bottom: 2px solid map-get($base, 'button-border');
  border-radius: 5px;
  font-family: map-get($fonts, 'base-font');
  font-weight: 700;

  &:hover:not([disabled]) {
    background: map-get($base, 'button-hover');
  }
}

//img-hover styles
.img-holder {

  &:hover {
    .img-hover {
      opacity: 1;
    }
  }
}

.img-wrap {
  position: relative;

  img {
    width: 100%;
    display: block;
  }

  .img-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: map-get($base, 'img-hover');
    opacity: 0;

    i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.875rem;
      color: map-get($font-colors, 'white');
    }
  }
}